body{
    color: red;
}

footer{
    bottom: 0;
    position:absolute;
    margin-left: 40%;
}    

.squares{
    height:30px;
    width:30px;
}

.player{
    background-color: white;
}

.box{
    background-color: #800000;
}

.target{
    background-color: rgb(228, 137, 0) ;
}

.wall{
    background-color: #848498;
}

.empty{
    background-color: #40bf80;
}