html{
    background-image: url('https://64.media.tumblr.com/ea568d43430e0f881680e5cdb622a1b3/tumblr_inline_n258q4r8c01qhwjx8.png');
}

body{
    color: red;
    text-align: center;
    
}

footer{
    bottom: 0;
    position:fixed;
    padding-top: 2em;
    margin-left: 40%;
}   

#gamebody{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: black;
padding: 2em;
}

.Lignes{
    display:flex;
}

.square{
    height:30px;
    width:30px;
}

.target{
     background-color: rgb(228, 137, 0) ; 
     background-image: url('../images/target.png');
}

.wall{
     background-color: #848498; 
     background-image: url('../images/wall.png');
}

.empty{
    background-color: #40bf80;
    background-image: url('../images/ground.png');
}

.boxtarget{
    background-color: purple;
    background-image: url('../images/box-on-target.png');
}
.player{
    background-image: url('../images/player-front.png') ;
    background-color : rgb(4, 0, 255);
}
.won{
    background-image: url('../mages/player-won.png');
}

.box{
    background-color: #800000;
    background-image: url('../images/box.png');
}